@import url(@unocss/reset/tailwind.css);
@import url(overlayscrollbars/overlayscrollbars.css);

html,
body,
#app {
  height: 100vh;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Baloo 2';
  src: url("/Baloo2-Bold.subset.ttf");
}


html.dark {
  color-scheme: dark;
}

body {
  --at-apply: color-base bg-base sprinkle-primary text-base;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  font-feature-settings: "cv02", "cv03", "calt", "kern";
  letter-spacing: 0.01em;
}

button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 999px;
  background: rgba(148, 163, 184, 0.4);
}

::-webkit-scrollbar-track {
  background: transparent;
}

/* https://github.com/KingSora/OverlayScrollbars/blob/master/packages/overlayscrollbars/src/styles/themes.scss */
.dark .os-theme-dark {
  --os-handle-bg: rgba(148, 163, 184, 0.5);
  --os-handle-bg-hover: rgba(148, 163, 184, 0.65);
  --os-handle-bg-active: rgba(148, 163, 184, 0.8);
}


*, a, button {
  cursor: default;
  user-select: none;
}

#dropdown-menu li {
  --at-apply: hover:bg-slate-400/15 rounded-lg flex items-center p-1.5 gap-1.5 transition-colors;
}


.grabbing * {
  cursor: grabbing;
}